.notification {
  font-weight: bold;
  border: solid 1px gray;
  border-radius: 8px;
  width: 200px;
  text-align: center;
  margin-left: 50px;
  position:absolute;
  margin: 50px 0px 0px 520px;
}

.notification.success {
  background-color: rgb(176, 243, 176);
}

.notification.error {
  background-color: rgb(243, 157, 157);
}